job "http-echo" {
  datacenters = ["dc1"]

  group "echo" {
    count = 1

    task "server" {
      driver = "docker"
      config {
        image = "hashicorp/http-echo:latest"
        args  = [
          "-listen", ":${NOMAD_PORT_http}",
          "-text", "Welcome to the http-echo service. You are on ${NOMAD_IP_http}",
        ]
      }

      resources {
        cpu = 200
        memory = 128
      }
    }


    service {
      name = "http-echo"
      port = "http"

      check {
        type = "http"
        path = "/health"
        interval = "2s"
        timeout = "2s"
      }
      
      tags = [
          "traefik.enable=true",
		  # "traefik.http.routers.http-echo.rule=Host(`api.example.com`) && Path(`/http-echo`)",
        ]

    }

    
  }
}
