job "traefik" {
  region      = "global"
  datacenters = ["dc1"]
  type        = "service"

  affinity {
    attribute = "${attr.unique.hostname}"
    value     = "ubuntu-mon"
    weight    = 100
  }


  group "traefik" {
    count = 1

    network {
      port "http" {
        to = 8080
      }

      port "https" {
        to = 443
      }

      port "api" {
        to = 8081
      }

    }

    task "traefik" {
      driver = "docker"

      config {
        image        = "traefik:2.5.1"
        network_mode = "cni/mynet"
        ports        = ["http", "https", "api"]
        volumes = [
          "/nfs/McLonbergUSB/McLonberg.net/containers/traefik/config/conf.d:/etc/traefik/conf.d",
          "/nfs/McLonbergUSB/McLonberg.net/containers/traefik/config:/etc/traefik",
          "/letsencrypt:/letsencrypt"
        ]
      }



      resources {
        cpu    = 100
        memory = 128
      }


    }

    service {
      name = "traefik"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.traefik.rule=Host(`echo.mclonberg.net`)",
        "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https",
        "traefik.http.routers.traefik.rule=Host(`echo.mclonberg.net`)",
        "traefik.http.routers.traefik.entrypoints=web",
        "traefik.http.routers.traefik.middlewares=https-redirect",
        "traefik.http.routers.traefiks.rule=Host(`echo.mclonberg.net`)",
        "traefik.http.routers.traefiks.entrypoints=web",
        "traefik.http.routers.traefiks.tls=true",
        "traefik.http.routers.traefiks.tls.certresolver=mclonberg-net"
      ]
    }
  }
}