job "traefik" {
  datacenters = ["dc1"]
  type        = "service"

  group "traefik" {
    count = 1

    network {
      port "http" {
        to = 80
      }

      port "https" {
        to = 443
      }

      port "api" {
        to = 8080
      }

      mode = "bridge"
    }


    task "traefik" {
      driver = "docker"

      config {
        image        = "traefik:2.5.1"
        network_mode = "host"
        ports        = ["http", "https", "api"]
        volumes = [
          "/nfs/McLonbergUSB/McLonberg.net/containers/traefik/config/conf.d:/etc/traefik/conf.d",
          "/nfs/McLonbergUSB/McLonberg.net/containers/traefik/config/traefik.yml:/etc/traefik/traefik.yml"
        ]
      }



      resources {
        cpu    = 200
        memory = 128
      }
    }
  }
}
